body {
    background-image: url("/src/images/Bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.active {
    color: inherit !important;
    mix-blend-mode: difference;
}
